{% assign projects = site.data.data.projects %}
{% if projects %}
<section class="section projects-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-project-diagram fa-stack-1x fa-inverse"></i>
    </span>
    {{ projects.title }}
  </h2>

  {% if projects.intro %}
  <div class="intro">
      <p>{{ projects.intro }}</p>
  </div><!--//intro-->
  {% endif %}

  {% for project in projects.projects %}
    <div class="item">

      <div><h2><span class="project-title">
        <a href="{{ project.link }}">{{ project.title }}</a>
      </span></h2></div>

      {% if project.image %}
      <div><img src="{{ project.image }}" width="400"/></div>
      <div><a href="{{ project.link }}">Website: {{ project.link }}</a></div>
      <div class="publication-conference">{{ project.publication }}<a href="{{ project.pb_link }}" style="color:blue"> [link]</a></div>
      {% endif %}

      {% if project.tagline %}
      - <span class="project-tagline">{{ project.tagline }}</span>
      {% endif %}

    </div><!--//item-->
  {% endfor %}

  <div id="TimesVector" class="project-item col-md-12 col-sm-12 col-xs-12" data-tags='["time-series","clustering"]'>
    <div class="well project-outer">
      <div class="project-inner">
        <div class="col-sm-4"><a href="assets/images/project_timesvector.png" class="thickbox">
          <div class="project-img bordered" style="background-image: url('assets/images/project_timesvector.png') !important; background-size: 100%; background-size: cover;">
          </div></a>
        </div> <!-- project thumb -->

        <div class="col-sm-8">
          <a href="http://epigenomics.snu.ac.kr/TimesVector/#" target="_blank"> 
          <h3 class="project-headlines">TimesVector</h3>
          </a> 
          
          <div class="project-content">
            A vectorized clustering approach to the analysis of time series transcriptome data from multiple phenotypes
            <div class="tag-holder">
              <span class="label tags tag-filter" data-tag="time-series">Time-series</span>
              <span class="label tags tag-filter" data-tag="clustering">Clustering</span>
            </div>
          </div>
          
          <div class="project-footer"> 
            <a href="http://epigenomics.snu.ac.kr/TimesVector/#" target="_blank" class="btn btn-info btn-raised btn-sm project-link">View</a>
            <span class="project-timeline">2016</span>
          </div>

        </div> <!-- project body -->
      </div>
    </div>
  </div>

</section><!--//section-->
{% endif %}
